@font-face {
	font-family: "Marr";
	src: url(https://today-ui-registry.vercel.app/fonts/MarrSansCondensed-Medium-Web.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Marr";
	src: url(https://today-ui-registry.vercel.app/fonts/MarrSansCondensed-Semibold-Web.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "GT America";
	src: url(https://today-ui-registry.vercel.app/fonts/GT-America-Standard-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "GT America";
	src: url(https://today-ui-registry.vercel.app/fonts/GT-America-Standard-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "GT America";
	src: url(https://today-ui-registry.vercel.app/fonts/GT-America-Standard-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GT America";
	src: url(https://today-ui-registry.vercel.app/fonts/GT-America-Standard-Regular-Italic.woff2)
		format("woff2");
	font-weight: 400;
	font-style: italic;
}