:root {
  --color-\*: initial;
	--color-black: hsl(0, 0%, 0%);
	--color-white: hsl(0, 0%, 100%);
	--color-cream: hsl(40, 18%, 97%);
	--color-orange: hsl(19, 100%, 60%);
	--color-khaki: hsl(76, 70%, 38%);
	--color-khaki-dark: hsl(76, 56%, 20%);
	--color-blue: hsl(230, 100%, 66%);
	--color-grey-light: hsl(300, 11%, 82%);
	--color-grey: hsl(295, 12%, 65%);
	--color-grey-dark: hsl(291, 7%, 39%);
	--color-purple: hsl(257, 100%, 70%);
	--color-cyan: hsl(171, 100%, 80%);
	--color-pink: hsl(300, 100%, 87%);
	--color-taupe: hsl(40, 71%, 84%);
	--color-lime: hsl(70, 94%, 63%);
	--color-mint: hsl(129, 100%, 84%);
	--color-red: hsl(14, 100%, 36%);
	--color-yellow: hsl(43, 90%, 62%);
	--color-yellow-light: hsl(54, 89%, 78%);

	--background: var(--color-white);
  --foreground: var(--color-black);

  --card: var(--color-white);
  --card-foreground: var(--color-black);

  --popover: var(--color-white);
  --popover-foreground: var(--color-black);

  --primary: var(--color-black);
  --primary-foreground: var(--color-white);

  --secondary: var(--color-blue);
  --secondary-foreground: var(--color-white);

  --muted: var(--color-grey);
  --muted-foreground: var(--color-grey-dark);

  --accent: color-mix(in oklab, var(--color-blue) 10%, transparent);
  --accent-foreground: var(--color-black);

  --destructive: var(--color-red);
  --destructive-foreground: var(--color-white);

  --border: var(--color-grey-light);
  --input: var(--color-grey-light);
  --ring: var(--color-blue);

  --chart-1: var(--color-orange);
  --chart-2: var(--color-cyan);
  --chart-3: var(--color-blue);
  --chart-4: var(--color-lime);
  --chart-5: var(--color-khaki);

  --sidebar: var(--color-white);
  --sidebar-foreground: var(--color-black);
  --sidebar-primary: var(--color-black);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: color-mix(in oklab, var(--color-blue) 10%, transparent);
  --sidebar-accent-foreground: var(--color-black);
  --sidebar-border: var(--color-grey);
  --sidebar-ring: var(--color-blue);

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px
    hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.15 0.01 74.42);
  --foreground: oklch(0.95 0.02 80.72);

  --card: oklch(0.12 0.01 80.72);
  --card-foreground: oklch(0.95 0.02 80.72);

  --popover: oklch(0.12 0.01 80.72);
  --popover-foreground: oklch(0.95 0.02 80.72);

  --primary: oklch(0.58 0.15 144.17);
  --primary-foreground: oklch(0.09 0.01 80.72);

  --secondary: oklch(0.15 0.02 147.64);
  --secondary-foreground: oklch(0.65 0.12 144.31);

  --muted: oklch(0.18 0.01 74.42);
  --muted-foreground: oklch(0.65 0.03 74.42);

  --accent: oklch(0.22 0.04 146.04);
  --accent-foreground: oklch(0.65 0.12 144.31);

  --destructive: oklch(0.62 0.22 26.72);
  --destructive-foreground: oklch(0.95 0.02 80.72);

  --border: oklch(0.22 0.02 74.64);
  --input: oklch(0.22 0.02 74.64);
  --ring: oklch(0.58 0.15 144.17);

  --chart-1: oklch(0.72 0.16 144.21);
  --chart-2: oklch(0.63 0.14 144.18);
  --chart-3: oklch(0.58 0.15 144.17);
  --chart-4: oklch(0.48 0.12 144.31);
  --chart-5: oklch(0.35 0.08 145.73);

  --sidebar: oklch(0.15 0.01 74.42);
  --sidebar-foreground: oklch(0.95 0.02 80.72);
  --sidebar-primary: oklch(0.58 0.15 144.17);
  --sidebar-primary-foreground: oklch(0.09 0.01 80.72);
  --sidebar-accent: oklch(0.22 0.04 146.04);
  --sidebar-accent-foreground: oklch(0.65 0.12 144.31);
  --sidebar-border: oklch(0.22 0.02 74.64);
  --sidebar-ring: oklch(0.58 0.15 144.17);

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px
    hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px
    hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
